.App {
  text-align: center;
  margin-top: 30px;
  font-family: "Open Sans";
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.color-instruction {
  display: flex;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.color-instruction span {
  margin: 0 20px 0 5px;
}

.color-indicator {
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 1px solid #E9EFF4;;
  display: inline-block;
}

.reset-btn {
  box-sizing: border-box;
  height: 40px;
  width: 60%;
  border: 1px solid #EDF2F6;
  border-radius: 4px;
  background-color: green;
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5rem;

}